html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  background-color: #1F2937;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.logo {
  font-size: 24px;
  padding: 16px;
  justify-content: center;
  align-content: center;
}

.links {
  font-size: 16px;
  color: #E5E7EB;
  display: flex;
  padding: 32px;
  justify-content: space-between;
  gap: 10px;
}

.hero {
  background-color: #1F2937;
  color: white;
  display: flex;
  justify-content: space-around;
}

.hero-button {
  background-color: #3882F6;
  color: #E5E7EB;
  border-radius: 4px;
  padding: 4px 10px;

}

.laptop {
  width: 300px;
  height: auto;
}